<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      button,
      a.btn {
        width: 200px;
      }
    </style>
    <%- include('layouts/header.ejs') %>
  </head>
  <body>
    <div class="mt-5" style="text-align: center">
      <button class="btn btn-success my-1">สมาชิกเข้าสู่ระบบ</button>
      <button class="btn btn-primary my-1">สมาชิกสมัครใหม่</button>
      <button class="btn btn-warning my-1">ติดต่อผู้ดู้เเลระบบ</button>
      <a href="/products" class="btn btn-info my-1">รายการสินค้า</a>
    </div>
  </body>
</html>
